:root {
    --gray-900: #191C1F;
    --gray-800: #303639;
    --gray-600: #5F6C72;
    --gray-500: #77878F;
    --gray-100: #E4E7E9;
    --gray-50: #F2F4F5;
    --warning-500: #EBC80C;
    --warning-300: #F3DE6D;
    --secondary-700: #1B6392;
    --secondary-600: #2484C2;
    --secondary-500: #2DA5F3;
    --primary-500: #FA8232;
}