/* Ana slider container */
.slider-container {
  display: flex;
  overflow-x: auto; /* Yatay kaydırmayı aç */
  scroll-snap-type: x mandatory; /* Scroll snap özelliğini etkinleştir */
  gap: 10px; /* Ürünler arasında boşluk */
  scroll-behavior: smooth; /* Yumuşak kaydırma */
}

/* Ürünler */
.product {
  min-width: 300px; /* Ürünlerin minimum genişliği */
  padding: 20px;
  background-color: #f5f5f5;
  text-align: center;
  border-radius: 8px;
  scroll-snap-align: start; /* Ürünlerin kaydırma sonunda hizalanması */
}

/* Ürün stili */
.product p {
  font-size: 18px;
  font-weight: bold;
}

.product span {
  font-size: 14px;
  color: #888;
}

/* Kaydırma çubuğunu gizlemek */
.slider-container::-webkit-scrollbar {
  display: none; /* Scrollbar gizleme */
}
